@font-face {
    font-family: "fzsjt";
    src: url(fzsjt.ttf);
}

.swiper-container {
    opacity: 0;
    transition: opacity 1s;
}

.swiper-slide {
    position: relative;
    background-color: #fff;
    transition: background 1s;
}

.swiper-slide .head {
    width: 100%;
    height: 258px;
    background-color: #ccc;
}

.swiper-slide .words {
    position: relative;
    float: right;
    width: 375px;
    height: 210px;
}

.swiper-slide .words img {
    position: absolute;
    transition-property: top left;
    transition-duration: 1s;
}

.swiper-slide .words .circle {
    position: absolute;
    top: 35px;
    left: 320px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #5b5b5b;
}

.swiper-slide .foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
}

.swiper-slide .tail {
    float: left;
    margin-left: 20px;
    width: 90px;
}

.swiper-slide .poetry {
    float: right;
    margin: -3px 20px 0 0;
    padding-bottom: 10px;
    width: 200px;
    max-height: 80px;
    min-height: 30px;
    background-image: url(assets/line_408x6.png);
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0;
    transition: opacity ease 1s;
}

.swiper-slide .poetry img {
    width: 100%;
    margin-top: 100%;
    transition: margin-top ease 4s;
}

.swiper-slide .text {
    font-family: 'fzsjt';
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
}

.swiper-slide .text.text-left {
    float: left;
    margin-top: 11px;
    width: 220px;
}

.swiper-slide .text.text-right {
    float: right;
    margin-top: 35px;
    width: 220px;
}

.swiper-slide .text.text-center {
    margin: 35px auto 0 auto;
    width: 325px;
}

.swiper-slide .text hr {
    margin: 14px 0;
    height: 4px;
    border: 0;
    background-color: #fff;
}

.swiper-slide .text .title {
    font-size: 1.7em;
    margin-bottom: 14px;
}

.swiper-slide .text.text-left .title {
    text-align: right;
}

.swiper-slide .text.text-right .title {
    text-align: left;
}

.swiper-slide .text.text-center .title {
    text-align: center;
}

.swiper-slide .text.text-left .detail {
    padding-left: 20px;
}

.swiper-slide .text .detail {
    margin: 8px 0;
    line-height: 1.4em;
    font-size: 0.95em;
}

.swiper-slide .text.text-right .detail {
    padding-right: 20px;
}

.swiper-slide .text .detail.detail-justify {
    text-align: justify;
    text-indent: 2em;
}

.swiper-slide .text .detail.detail-number {
    text-align: justify;
    text-indent: 1em;
}

.swiper-slide .text .detail.detail-left {
    text-align: left;
}

.swiper-slide .text .detail.detail-right {
    text-align: right;
}

.swiper-slide .text .detail span {
    float: left;
    width: 45px;
    height: 30px;
    margin-right: 10px;
}

.swiper-slide .text .detail img:nth-child(1) {
    width: 100%;
}

.swiper-slide .text .detail img:nth-child(2) {
    margin: 60px 20% 15px 20%;
    width: 60%;
}

.swiper-slide .text .detail img:nth-child(3) {
    margin: 0 40%;
    width: 30%;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 1080%;
    height: 100%;
    background-size: 51% 100%;
    background-position: -108% center;
}

.btn-audio {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 23px;
    height: 23px;
    background-image: url(assets/musicStop_46x46.png);
    background-size: 100% 100%;
}

.btn-audio.play {
    background-image: url(assets/musicPlay_46x46.png);
}

.next {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    width: 100px;
    height: 13px;
    background-image: url(assets/right.gif);
    background-position: right center;
    background-repeat: no-repeat;
    transition: opacity 1s;
    font-family: 'fzsjt';
    font-size: 0.95em;
    color: #ccc;
}
